.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__block {
    display: flex;

    &--1 {
      flex: 1;
      min-height: 534px;

      @media (max-width: 840px) {
        flex-direction: column;
      }
    }

    &--2 {
      flex: 1;

      @media (max-width: 840px) {
        flex-wrap: wrap;
      }
    }

    &__hero {
      flex: 2;
      max-width: 840px;

      @media (max-width: 920px) {
        max-width: none;
      }
    }

    &__text-main {
      flex: 1;
    }

    &__text-about {
      flex: 1.25;

      @media (max-width: 840px) {
        order: 3;
        flex-basis: 100%;
      }
      @media (max-width: 440px) {
        order: initial;
      }
    }

    &__img-about {
      @media (max-width: 1200px) {
        flex: 1;
      }
      @media (max-width: 840px) {
        flex-basis: 50%;
      }
      @media (max-width: 440px) {
        display: flex;
        justify-content: center;
        flex-basis: 100%;

        & > img {
          width: 100%;
        }
      }
    }
  }
}
