.nav-list-item {
  list-style: none;
  padding: 0 18px;

  @media (max-width: 950px) {
    padding: 0 13px;
  }

  @media (max-width: 375px) {
    padding: 0 7px;
  }
  @media (max-width: 330px) {
    padding: 0 3px;
  }

  &--link {
    padding: 12px 0;
    text-decoration: none;
    color: currentColor;
    position: relative;

    @media (min-width: 601px) {
      &:hover::before {
        transform: translateX(-50%) scaleX(1);
      }

      &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: var(--clr-white);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transform-origin: left;
        transition: transform 0.25s ease-out;
      }
    }
  }
}
